<app-cabecalho></app-cabecalho>
<main>
    <div class="hero-main">
        <button class="btn-carrossel btn-anterior" (click)="imagemAnterior()">
            <span class="icone">&lsaquo;</span>
        </button>
        @for (imagem of imagensHero; track $index ) {
            <img 
            class="img-hero-main" 
            [src]="imagem"
            [class.ativa] = "$index === indiceAtivo"
            alt="Painel de Informações Dignitec">
        }
        <button class="btn-carrossel btn-proximo" (click)="proximaImagem()">
            <span class="icone">&rsaquo;</span>
        </button>
    </div>
    
    <section class="localizacao">
        <h1 class="sugestoes">Negocios perto de você</h1>
        <h2 class="cidade" >Salvador - BA</h2>
    </section>
    <div id="lista-anuncios">
        @if (listaDeAnuncios.length > 0) {
            @for (anuncio of listaDeAnuncios; track anuncio.id) {
                <div class="card-anuncio">
                    <div class="capa-container">
                        <img [src]="anuncio.imagemURL" alt="">
                    </div>
                    <div class="conteudo-card">
                        <span class="categoria">Categoria: {{anuncio.categoria}}</span>
                        <h3>{{anuncio.nomeProjeto}}</h3>
                        <p class="descricao">{{anuncio.descricao}}</p>
                    </div>
                    <div class="rodape-card" (click)="entrarEmContato(anuncio.id)">
                        <a href="https://wa.me/{{ anuncio.contato }}" target="_blank" style="text-decoration: none;">
                            <span>Entrar em contato</span>
                        </a>
                    </div>
                </div>
            } @empty {
                <ng-template>
                    <p>Ainda não négocios cadastrados</p>
                </ng-template>
            }
        }
    </div>
</main>
