.hero-main {
  max-height: 550px;
  width: 100%;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.card-anuncio {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  max-width: 500px;
  height: 500px;
  background-color: hsl(31, 83%, 82%);
}

.capa-container img {
  max-height: 200px;
  
}

