
.cabecalho {
  gap: 5px;
  display: flex;
  padding: 11px 20px;
  align-items: center;     
  justify-content: space-between; 
  background-color: #ffffff;                     
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09); 
  position: relative;
  z-index: 10; 
}

.cabecalho__logo__img {
    width: 60px;
    height: auto;
    border-radius: 10px;
}

.cabecalho__campo-pesquisa {
    flex-grow: 1; /* Permite que a busca ocupe o espaço do meio */
    max-width: 300px;   
}

.cabecalho__campo-pesquisa input {
    width: 100%;                   
    padding: 8px 2px;
    border: 1px solid #f7720c;
    border-radius: 4px;
}

.icon-open-menu {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 15px;
  gap: 5px;
  padding: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03); 
  transition: 0.5s;
}


/* Menu lateral */
.side-bar {
  bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;         
  width: 30%;
  height: 100% !important; 
  background-color: #ffffff;
  padding: 20px;
  z-index: 99999;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
}

.images {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

.icon-close-menu {
  cursor: pointer;
  height: 2.5rem;
  object-fit: contain;
}

.list-menu {
  padding: 0 1px;
   margin-top: 30px;
}

.list-menu li {
    padding: 8px 8px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    align-items: center;                   
    white-space: nowrap;    
    transition: 0.5s;
}

.list-menu p:hover {
  font-weight: bold;
  color: #f7720c;
}

.area-logout {
  display: flex;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 15px;
  gap: 5px;
  padding: 5px;
  transition: 0.5s;
}

/* MAIN */
.container__marketing {
  margin-right: 1%;
  width: 20%;
  padding: 5px 0;
  background-color: var(--primaria-branca);
  overflow: hidden; /* Esconde o texto que sai da tela */
}

.container__marketing__content {
  font-size: 1.2rem;
  font-family: sans-serif;
  display: flex;
  width: max-content;
  color: var(--secundaria-laranja);
}

@media (max-width: 480px) {
  .cabecalho {
    gap: 20px;
  }

  .side-bar {
    width: 50%;
  }
}