<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Anúncios</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>

<body>
<header>
        <div class="cabecalho">
        <div class="cabecalho__logo" routerLink="/home">
            <img class="cabecalho__logo__img" src="/IMAGES/logo-dgn.jpg" alt="Logo do Dignitec">  
        </div>

        <div class="cabecalho__campo-pesquisa">
            <input type="text" placeholder="Buscar">
        </div>
        <div class="icon-open-menu" (click)="openMenu()">
            <img src="/IMAGES/Icons/openMenu.svg" alt="Abrir menu lateral" >  
            <!-- <img src="/IMAGES/icon-menu.svg" alt="Finalizar sessão" >   -->
        </div>
    </div>
</header>
<aside>
  @if (menuAberto) {
    <div class="side-bar">
      <div class="images" routerLink="/home">
        <img class="cabecalho__logo__img" src="/IMAGES/logo-dgn.jpg" alt="Logo do Dignitec">
        <img src="/IMAGES/Icons/closeMenu.svg" alt="Fechar menu" class="icon-close-menu" (click)="closeMenu()">
      </div>

      <nav class="cabecalho__container-menu">
        <div class="cabecalho__container-menu__content">
          <ul class="list-menu">
            
            <li class="area-logout">
              <img src="/IMAGES/Icons/account.svg" alt="Fazer Login">
              <p routerLink="/login">Fazer login</p>
            </li>

            @if (IsAnunciante) {
              <li class="area-logout">
                <img src="/IMAGES/Icons/data_exploration.svg" alt="Cadastrar Anúncio">
                <p routerLink="/cadastrar">Anunciar</p>
              </li>
              <li class="area-logout">
                <img src="/IMAGES/Icons/analytics.svg" alt="Painel do anunciante">
                <p routerLink="/painelAnunciante">Meus Anúncios</p>
              </li>
            }

            <li class="area-logout" (click)="executarLogout()">
              <img src="/IMAGES/Icons/logout.svg" alt="Finalizar sessão"> 
              <p>Encerrar sessão</p>
            </li>

          </ul>
        </div>
      </nav>    
    </div>
  }
</aside>