<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Anúncios</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>

<body>
<header>
    <div class="cabecalho">
        <div class="cabecalho__logo">
            <img class="cabecalho__logo__img" src="/IMAGES/logo-dgn.jpg" alt="Logo do Dignitec">  
        </div>



        <div class="cabecalho__campo-pesquisa">
            <input type="text" placeholder="Buscar">
        </div>

        <!--COONTEUDO DO MENU-->
        <nav class="cabecalho__container-menu">
            <div class="cabecalho__container-menu__content">
                <ul class="list-menu">
                <li><a routerLink="/login">Fazer login <!--&#128274--></a></li>
                <li><a routerLink="/cadastrar" >Anunciar <!--&#x0024--></a></li>
                <li><a routerLink="/painelAnunciante" >Meu painel <!--&#x24D8--></a></li>
                </ul>
            </div>
        </nav> 
        
        <!--ICON MENU HAMBURGER-->
        <input class="icons_menu" type="checkbox" id="open-menu">
        <label for="open-menu" class="check-btn">
            <i class="fas fa-bars"></i>
        </label>

        <!--ICON FECHAMENTO MENU HAMBURGER-->
        <input class="icons_menu" type="checkbox" id="exit-menu">
        <label for="check" class="check-fechar">
            <i class="fa-solid fa-xmark"></i>
        </label>
    </div>
</header>
