<header>
  <app-cabecalho></app-cabecalho>
</header>
<main>
  <div class="painel-container">
      <div class="container-header">
        <div class="img-header">
          <img  routerLink="/home" src="/IMAGES/back-orange.svg" alt="" width="30px">
        </div>
        <div class="painel-header">
          <h2>Painel de Anúncios</h2>
          <p>Gerencie suas publicações e acompanhe o desempenho em tempo real.</p>
        </div>
      </div>
  @if (meusAnuncios.length === 0) {
    <div class="sem-anuncios">
      <p>Você ainda não possui nenhum anúncio cadastrado.</p>
      <button routerLink="/cadastrar">Criar meu primeiro anúncio</button>
    </div>
  }

  @if (meusAnuncios.length > 0) {
    <div class="lista-anuncios">
      @for (anuncio of meusAnuncios; track anuncio.id) {
        <div class="anuncio-card">
          
          <div class="anuncio-thumb">
            <img [src]="anuncio.imagemURL" alt="Imagem do projeto {{ anuncio.nomeProjeto }}">
          </div>

          <div class="anuncio-info">
            <h3>{{ anuncio.nomeProjeto }}</h3>
            <h5>{{anuncio.descricao}}</h5>
            <p class="metrica-cliques">
              <i class="icone-click"></i> 
              <strong>{{ anuncio.quantidadeClicks  }}</strong> visitas recebidas
            </p>
          </div>

          <div class="anuncio-acoes">
            <button [routerLink]="['/editar', anuncio.id]" class="btn-acao btn-editar" title="Editar Anúncio">
              <span class="material-icons">edit</span>
            </button>

            <button class="btn-acao btn-excluir" (click)="excluirAnuncio(anuncio.id)" title="Excluir Anúncio">
              <span class="material-icons">delete</span>
            </button>
          </div>

        </div>
      }
    </div>
  }
</div>
</main>
