<main>
    <div class="container-logo">
        <img class="img-main" src="/IMAGES/logo-dgn.jpg" alt="Logo Dignitec">
    </div>

    <div class="container-form">
        
        <form (ngSubmit)="enviarDados()">
            <img class="img-main" src="/IMAGES/logo-dgn.jpg" alt="Logo Dignitec">
            <label for="nome">Nome de usuário</label>
            <input type="text" name="nome" [(ngModel)]="dadosCadastro.nome" placeholder="Como devemos te chamar?" required>

            <label for="email">E-mail</label>
            <input type="email" name="email" [(ngModel)]="dadosCadastro.email" placeholder="insira seu melhor e-mail" required>

            <label for="senha">Senha</label>
            <input type="password" name="senha" [(ngModel)]="dadosCadastro.senha" required>

            <label for="confirmarSenha">Confirmar senha</label>
            <input type="password" name="confirmarSenha" [(ngModel)]="dadosCadastro.confirmarSenha" required>

            <label for="tipo">Tipo de Conta</label>
            <select name="tipoConta" [(ngModel)]="dadosCadastro.tipoConta" required>
                <option value="" disabled selected>Criar conta como...</option>
                <option value="usuario">Usuário Comum</option>
                <option value="anunciante">Anunciante</option>
            </select>

            <div class="termo-privacidade">
                <input id="checkbox" type="checkbox" name="termos" [(ngModel)]="termosAceitos">
                <label class="txt-termo">Termo de privacidade</label>
            </div>

            <button type="submit">Salvar</button> 
        </form>
    </div>
</main>