<header>
  <app-cabecalho></app-cabecalho>
</header>
<main>
  <img src="/IMAGES/" alt="">
  <h2>DIGNITEC - <strong>A vtrine da favela</strong></h2>

  <form (ngSubmit)="enviarDados()">
    
    <label for="nomeProjeto">Nome do projeto</label>
    <input type="text" id="nomeProjeto" name="nomeProjeto" [(ngModel)]="dadosFormulario.nomeProjeto" placeholder="Digite o nome do projeto" required />

    <label for="categoria">Categoria</label>
    <input type="text" id="categoria" name="categoria" [(ngModel)]="dadosFormulario.categoria" placeholder="Ex: Educação, Cultura..." required />

    <label for="descricao">Descrição detalhada</label>
    <textarea id="descricao" name="descricao" [(ngModel)]="dadosFormulario.descricao" placeholder="Descreva o projeto" required></textarea>

    <label for="localizacao">Localização</label>
    <!-- <small (click)="buscarCoordenadas()" style="color: orange; cursor: pointer;">Clique aqui para usar sua localização atual</small> <br> -->
    <input type="text" id="localizacao" name="localizacao" [(ngModel)]="dadosFormulario.localizacao" placeholder="Endereço " required />
    

    <label for="contato">Contato</label>
    <input type="text" id="contato" name="contato" [(ngModel)]="dadosFormulario.contato" placeholder="Email ou telefone" required />

    <label for="imagemCapa">Imagem de capa</label>
    <input type="file" id="imagemCapa" (change)="aoSelecionarImagem($event)" accept="image/*" required />

    <button type="submit">Cadastrar ação</button>
  </form>

</main>